html {
    font-size: 18px
}
body {
    background-color:rgb(86, 5, 70);
    color:rgb(248, 153, 248);
        margin: 10px;;
        
        justify-content: center;
        align-items: center;
        height: 100vh;
}
a{
    color:hsl(300, 100%, 50%)
}
a:visited {
    color: hsl(300, 100%, 57%);
}
a:hover{
    color: hsl(300, 100%, 95%);
}
a:active{
    color:hsl(281, 100%, 50%)
}